body{
    background-color: slategray;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
}
h1{
    color: #000;
    background-color: blue;
text-align: center;
font-size: 32px;
}
